{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username }}의 프로필 페이지</h1>
  {% with followings=person.followings.all followers=person.followers.all %}
    <h2>Followers: {{ followers|length }}</h2>
    <h2>Followings: {{ followings|length }}</h2>
    {% if user != person %}
      <div>
        <form action="{% url 'accounts:follow' person.pk %}" method="POST">
          {% csrf_token %}
          {% if user in followers %}
            <input type="submit" value="언팔로우">
          {% else %}
            <input type="submit" value="팔로우">
          {% endif %}
        </form>
      </div>
    {% endif %}
  {% endwith %}

  <hr>

  <h2>{{ person.username }}가 작성한 게시글</h2>
  {% for review in person.review_set.all %}
    <div>{{ review.title }}</div>
    <div>좋아요 수: {{ review.like_users.all|length }}</div>
  {% endfor %}
  <hr>

  <a href="{% url 'community:index' %}">[back]</a>
  
{% endblock content %}