{% extends 'base.html' %}

{% block content %}
  <h1>New</h1>
  <form action="{% url 'movies:create' %}" method="POST">
    {% csrf_token %}
    <div>
      <label for="title">Title: </label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label for="overview">Overview: </label>
      <textarea name="overview" id="overview" cols="30" rows="10"></textarea>
    </div>
    <div>
      <label for="poster_path">Poster Path: </label>
      <input type="text" id="poster_path" name="poster_path">
    </div>
    <div>
      <button>submit</button>
    </div>
  </form>
{% endblock content %}